@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 6px;

}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 8, 27, 0.727), rgba(1, 5, 21, 0.864));
  
}

#video-background video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: saturate(210%);
  object-fit: cover;
}


main{
  height: 100vh;
  width: 100vw;
}
.get-subjects-with-teachers {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}
.get-subjects-with-teachers input,
button {
  margin: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.get-subjects-with-teachers button {
  padding: 5px 15px;
  cursor: pointer;
}
.get-subjects-with-teachers button:hover {
  background-color: black;
  color: white;
}
.get-subjects-with-teachers input {
  width: 20%;
  background-color: rgba(255, 255, 255, 0.686);
  /* backdrop-filter: blur(5px); */
}

.get-subjects-with-teachers input::placeholder {
  text-align: center;
  color: rgb(58, 58, 58);
}

#cards{
  width: fit-content;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
  contain: content;
  max-height: 28vh;
  overflow-y:auto;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.059);
}




.test-btn {
  background-color: aliceblue;
}

.landing{
  font-family: 'Oswald', sans-serif;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.landing h1{
  margin: 5%;
  color : white;
  z-index:1 ;
  /* transform: translateY(200px); */
  width: 100%;
  height: auto !important;
  /* transform: translateX(-255px); */
  right: 0;
  display: flex;

  align-items: center;
  justify-content: center;
  z-index:1 ;

}
.landing-h1-wrapper{
  float: right;
}
.proceed-wrapper{
  float: right;
}

.proceed-btn{
  font-size: large;
  background-color: black;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  animation: moveUpDown 1s ease-in-out infinite;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.proceed-btn a{
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
  color: white;
}

.login-wrapper{
 
  float: right;

}
.login{
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-right: 15px;
  float: right;
}


.login nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  background-color: #00000000;
  /* backdrop-filter: blur(2px); */
  transition: background-color 0.3s ease;
}
.login nav.dark {
  background-color: rgb(0, 0, 0);
}
.login nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.login nav li {
  margin-right: 20px;
}

.login nav a {
  color: #fff;
  text-decoration: none;
}


.card{
  color: rgb(255, 255, 255);
  height: 52px;
  background-color: rgba(0, 0, 0, 0.415);
  /* width: clamp(1px,fit-content,1px); */
  width: 180px;
  display: flex;
  flex-flow: column;
  padding: 5px 50px 5px 10px;
  border-radius: 5px;
}

.zone {
  width: 80%;
  padding: 10px;
  margin:100px;
  max-height: 200px;
  background-color: #eeeeee4c;
  border: 2px solid #000;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr  1.2fr 1.2fr ;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
  contain: content;
  overflow-y: auto;
}

.zone-wrapper{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}